<div class="characters-result-wrapper">
  <div class="characters-result" *ngFor="let character of charactersList" [ngClass]="{'active': character.name === selectedCharacter?.name}">
    <a (click)="selectCharacter(character.name)">
      <app-character title="{{character.name}}" url="{{character.url}}"></app-character>
    </a>
  </div>
</div>

<div class="characters-details">
  <h3>{{selectedCharacter?.name}}</h3>
  <div class="inner">
    <span><strong>Birth year: </strong>{{selectedCharacter?.birth_year}}</span><br>
    <span><strong>Eye color: </strong>{{selectedCharacter?.eye_color}}</span><br>
    <span><strong>Gender: </strong>{{selectedCharacter?.gender}}</span><br>
    <span><strong>Hair color: </strong>{{selectedCharacter?.hair_color}}</span><br>
    <span><strong>Height: </strong>{{selectedCharacter?.height}} cm</span><br>
    <span><strong>Homeworld: </strong>{{selectedCharacter?.homeworld}}</span><br>
    <span><strong>Mass: </strong>{{selectedCharacter?.mass}} Kg</span><br>
    <span><strong>Skin color: </strong>{{selectedCharacter?.skin_color}}</span><br>
    <span><strong>Species: </strong>{{selectedCharacter?.species}}</span><br>
    <span><strong>Starships: </strong>{{selectedCharacter?.starships}}</span><br>
    <span><strong>Vehicles: </strong>{{selectedCharacter?.vehicles}}</span><br>
    <span><strong>Films: </strong>{{selectedCharacter?.films}}</span>
  </div>
</div>
