$poster-width: 200px;
$poster-height: 133px;

.single-ship {
  width: $poster-width;
  height: $poster-height;
  position: relative;
  display: block;
  margin: 10px;
  background-size: cover;
}

.ship-wrapper {
  display: inline-block;
  text-align: center;
  margin: 15px;
  font-family: "News Bold";
  font-size: 1em;
}
