.single-planet {
  width: 100px;
  height: 100px;
  display: block;
  border-radius: 50%;
  margin: 15px;
}

.planet-wrapper {
  display: inline-block;
  text-align: center;
  margin: 15px 15px 25px;
}