@import './styles/colors.scss';

header {
  width: 100%;
  margin: 0;
  position: fixed;
  background: linear-gradient(to bottom, rgba(0,0,0,1) 50%,rgba(0,0,0,0) 100%);
  text-align: left;
  z-index: 10;

  h1.main-title {
    background: url('/assets/logo.svg') no-repeat;
    background-size: cover;
    display: inline-block;
    width: 218px;
    height: 150px;
    text-indent: -999px;
    overflow: hidden;
    margin: 0 40px;
    position: relative;
    top: 10px;
    vertical-align: middle;
  }
}

nav {
  text-align: center;
  display: inline-block;
  margin-left: 2.5em;
  right: 40px;
  top: 60px;
  position: absolute;

  h2 {
    font-size: 1.5em;
    margin: 0;
    line-height: 1em;
    display: inline-block;
    margin: 0 0.5em;
    color: $white;

    &.active {
      transform: skewY(-10deg);
      color: $yellow;
    }
  }
}

section {
  text-align: center;
  top: 175px;
  position: relative;
}
