<div class="species-result-wrapper">
  <div class="species-result" *ngFor="let specie of speciesList" [ngClass]="{'active': specie.name === selectedSpecie?.name}">
    <a (click)="selectSpecie(specie.name)">
      <app-specie title="{{specie.name}}" url="{{specie.url}}"></app-specie>
    </a>
  </div>
</div>

<div class="species-details">
  <h3>{{selectedSpecie?.name}}</h3>
  <div class="inner">
    <span><strong>Average height: </strong>{{selectedSpecie?.average_height}} cm</span><br>
    <span><strong>Average lifespan: </strong>{{selectedSpecie?.average_lifespan}}</span><br>
    <span><strong>Classification: </strong>{{selectedSpecie?.classification}}</span><br>
    <span><strong>Eye colors: </strong>{{selectedSpecie?.eye_colors}}</span><br>
    <span><strong>Hair colors: </strong>{{selectedSpecie?.hair_colors}}</span><br>
    <span><strong>Homeworld: </strong>{{selectedSpecieHomeworld}}</span><br>
    <span><strong>Language: </strong>{{selectedSpecie?.language}}</span><br>
    <span><strong>Skin colors: </strong>{{selectedSpecie?.skin_colors}}</span><br>
    <span *ngIf="selectedSpeciePeople.length"><strong>People: </strong>
      <span *ngFor="let person of selectedSpeciePeople; let i = index">
        {{person.name}}<ng-container *ngIf="(i + 1) < selectedSpeciePeople.length">, </ng-container>
      </span><br>
    </span>
    <span *ngIf="selectedSpecieFilms.length"><strong>Films: </strong>
      <span *ngFor="let film of selectedSpecieFilms; let i = index">
        {{film.title}}<ng-container *ngIf="(i + 1) < selectedSpecieFilms.length">, </ng-container>
      </span><br>
    </span>
  </div>
</div>
